.root {
    -fx-font-family: Arial, sans-serif;
}

/* Botões de Categoria */
.btn-primary {
    -fx-background-color: #5eb5ff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

/* Botão Voltar */
.btn-secondary {
    -fx-background-color: #ffc107;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 8;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
}


.btn-danger {
    -fx-background-color: #dc3545;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.btn-success {
    -fx-background-color: #28a745;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.btn-categoria {
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.btn-produto {
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
}

.btn-fatura {
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.text-content {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.text-pagamento {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.text-datahora {
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.text-nome {
    -fx-font-size: 14px;
}

.text-id {
    -fx-font-size: 12px;
}

.fundo {
    -fx-background-color: #333333;
}